.App {
	text-align: center;
	/* font-family: 'hk_grotesk', normal; */

	background-color: #fbfbfd;
	height: 1000px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	grid-template-areas: "All";
}

#All {
	grid-area: All;
	display: grid;
	grid-template-columns: 20% 20% 20% 30% 10%;
	grid-template-rows: 80px 20px 80px 20px 700px 80px 500px;
	grid-template-areas: "User User User User User" "Followers Followers Followers Followers Followers"
		"Title Follow_Us Follow_Us Pic Pic" "Followed_By Followed_By Followed_By Followed_By Followed_By"
		"Song Song Song about about" "Album Album Album Album Album" "AlbumCard AlbumCard AlbumCard AlbumCard AlbumCard";
}

#Albums {
	grid-area: Album;
	text-align: left;
	padding-left: 60px;
	/* margin-top: 50px; */
	color: #293583;
	font-weight: bold;
	font-size: 1.825rem;
	background-color: #fcebef;
	margin-bottom: 0px;
	padding-top: 10px;
}

#Album {
	grid-area: AlbumCard;
	display: flex;
	flex-direction: row;
	padding-left: 50px;
	background-color: #fcebef;
}

#AlbumCard {
	padding-top: 20px;
	padding: 10px;
}
#AlbumPics {
	width: 250px;
	border: thick;
	border-style: ridge;
}

#about {
	grid-area: about;
	overflow-x: scroll;
	width: 645px;
	margin-top: 500px;
	line-height: 1.5625rem;
}
#AlbumName {
	color: #293583;
}
#AlbumReleased {
	color: #293583;
	font-size: 0.775rem;
	font-weight: normal;
}
#Follow_Us {
	grid-area: Follow_Us;
	width: 200px;
	background-color: #f199ae;
	border: thick;
	border-radius: 2em;
	color: white;
	font-weight: bold;
	margin: 10px;

	font-size: 1.2em;
}

#Follow_Us:hover {
	opacity: 0.5;
	border: double;
	transition: all 500ms ease;
}

#Title {
	grid-area: Title;
	text-align: left;
	margin-left: 60px;
	color: #293583;
	font-weight: bold;
	font-size: 1.825rem;
	/* font-family: 'HK Grotesk'; */
}

#Followed_By {
	grid-area: Followed_By;
	font-style: italic;
	margin-top: 0px;
	padding-left: 60px;
	text-align: left;
	color: #293583;
}
#Song {
	grid-area: Song;
	margin-left: 30px;
}

#SongCard {
	display: grid;
	grid-template-columns: 10% 42% 6% 42%;
	grid-template-rows: 70px;
	grid-template-areas: "Cover Song_Title Time Popular";
}
#Length {
	grid-area: Time;
	margin: 5px;
	padding-top: 20px;
	text-align: center;
	color: #293583;
	font-weight: bold;
	border: inset;
	border-radius: 50%;
	font-size: 1rem;
}
#Length:hover {
	font-size: 1.125rem;
	transition-duration: 500ms;
}

#Song_Title {
	grid-area: Song_Title;
	text-align: left;
	margin: 10px;
	color: #293583;
	font-size: 1.125rem;
	border: thick;
	border-style: ridge;
	font-weight: bold;
}

#Song_Title:hover {
	font-size: 1.25em;
	transition-duration: 500ms;
}

#User {
	grid-area: User;
	text-align: left;
	position: absolute;
	font-size: 1.4375rem;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 60px;
	padding-top: 20px;
	background-color: #293583;
	height: 60px;
	width: 100%;
	color: white;
}

#Followers {
	grid-area: Followers;
	text-align: left;
	font-style: italic;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	padding-left: 60px;
	background-color: #293583;
	height: 20px;
}

#albumPic {
	grid-area: Cover;
	width: 60px;
	margin: 10px;
	margin-left: 30px;
}
#albumPic:hover {
	opacity: 0.5;
	transition-duration: 100ms;
	border: inset;
	border-style: thick;
}
#signIn {
	text-align: center;
	width: 200px;
	height: 50px;
	background-color: #f199ae;
	border: groove;
	border-radius: 2em;
	color: white;
	position: relative;
	left: 50px;
}
#signIn:hover {
	background-color: #f8cdd6;
	border: double;
	transition: all 500ms ease;
}

#band_image {
	grid-area: Pic;
	border: inset;
	border-style: thick;
	border-radius: 50%;
	margin-top: -50px;
	z-index: 1;
	/* margin: 50px; */
}
#bar {
	grid-area: Popular;
	width: 200px;
	background-color: #eef8ef;
	margin: 10px;
	border: thick;
	border-style: ridge;
}

#popularity {
	background-color: #57c46a;
	height: 40px;
	animation: move 2s linear infinite;
	transition-delay: 1000ms;
	animation-duration: 4s;
	-webkit-animation: move 3s ease-in;
	animation-iteration-count: 1;
	opacity: 1;
}

@keyframes move {
	0% {
		background-position: 0 0;
		opacity: 0;
	}
	100% {
		background-position: 50px 50px;
		opacity: 1;
	}
}

@-webkit-keyframes move {
	from {
		background-position: 0 0;
		opacity: 0;
	}
	to {
		background-position: 50px 50px;
		opacity: 1;
	}
}
