.App {
	text-align: center;
	/* font-family: 'hk_grotesk', normal; */

	background-color: #fbfbfd;
	height: 1000px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	grid-template-areas: "All";
}

#All {
	grid-area: All;
	display: grid;
	grid-template-columns: 12% 28% 20% 30% 10%;
	grid-template-rows: 100px 100px 700px;
	grid-template-areas: "User User User Followers Followers" "Title Followed_By Follow_Us Pic Pic"
		"Song Song Song Pic Pic";
}

#Follow_Us {
	grid-area: Follow_Us;
	width: 200px;
	background-color: #f199ae;
	border: thick;
	border-radius: 2em;
	color: white;
	margin: 20px;
	margin-left: 170px;
	font-size: 1.2em;
}

#Follow_Us:hover {
	opacity: 0.5;
	border: double;
	transition: all 500ms ease;
}

#Title {
	grid-area: Title;
	text-align: left;
	margin-left: 60px;
	color: #293583;
	font-weight: bold;
	font-size: 1.825rem;
	/* font-family: 'HK Grotesk'; */
}

#Followed_By {
	grid-area: Followed_By;
	font-style: italic;
	margin-top: 35px;
	text-align: left;
}
#Song {
	grid-area: Song;
	margin-left: 30px;
}

#SongCard {
	display: grid;
	grid-template-columns: 10% 60% 10% 20%;
	grid-template-rows: 70px;
	grid-template-areas: "Cover Song_Title Time Popular";
}
#Length {
	grid-area: Time;
	margin: 25px;
	text-align: center;
}
#Length:hover {
	font-size: 1.5em;
	transition-duration: 500ms;
}

#Song_Title {
	grid-area: Song_Title;
	text-align: left;
	margin: 10px;
	color: #293583;
	font-size: 1.4375rem;
	border: thick;
	border-style: ridge;
	margin-right: 140px;
}

#Song_Title:hover {
	font-size: 1.5em;
	transition-duration: 500ms;
}

#User {
	grid-area: User;
	text-align: left;
	position: absolute;
	font-size: 1.825rem;
	left: 50px;
	padding: 10px;
	color: #293583;
}

#Followers {
	grid-area: Followers;

	width: 150px;
	height: 150px;
	background-color: #f199ae;
	border: thick;
	border-radius: 100%;
	color: white;
	padding: 10px;
	position: absolute;
	top: -10px;
	margin: 30px;
	padding: 20px;
	right: -30px;
}

#albumPic {
	grid-area: Cover;
	width: 60px;
	margin: 10px;
	margin-left: 30px;
}
#albumPic:hover {
	opacity: 0.5;
	transition-duration: 100ms;
	border: double;
}
#signIn {
	text-align: center;
	width: 200px;
	height: 50px;
	background-color: #f199ae;
	border: groove;
	border-radius: 2em;
	color: white;
	position: relative;
	left: 50px;
}
#signIn:hover {
	background-color: #f8cdd6;
	border: double;
	transition: all 500ms ease;
}

#band_image {
	grid-area: Pic;
	border: double;
	border-radius: 50%;
	margin: 50px;
}
#bar {
	grid-area: Popular;
	width: 200px;
	background-color: #eef8ef;
	margin: 10px;
	border: thick;
	border-style: ridge;
}

#popularity {
	background-color: #57c46a;
	height: 40px;
	animation: move 2s linear infinite;
	transition-delay: 1000ms;
	animation-duration: 4s;
	-webkit-animation: move 3s ease-in;
	animation-iteration-count: 1;
	opacity: 1;
}

@keyframes move {
	0% {
		background-position: 0 0;
		opacity: 0;
	}
	100% {
		background-position: 50px 50px;
		opacity: 1;
	}
}

@-webkit-keyframes move {
	from {
		background-position: 0 0;
		opacity: 0;
	}
	to {
		background-position: 50px 50px;
		opacity: 1;
	}
}
